.header {
    padding: 1rem 0;
    font-size: 1.25rem;

    &__title {
        font-weight: bold;
        text-decoration: none;
    }

    &__link {
            text-decoration: none;
            color: #333;

        &--active,
        &:hover {
            color: red;
            text-decoration: none;
        }
    }

}